@font-face {
  font-family: 'poiret';
  src: local('poiret'),
       url('./poiret-one-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./poiret-one-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


header {
  background-color: #ffd699;
  width: 100%;
  display: flex;
  justify-content: center;
}

header > h1 {
  font-family: 'poiret';
  font-size: 50px;
  font-weight: normal;
}

footer {
  background-color: #ffd699;
  text-align: center;
}

footer > h3 {
  padding: 5px;
  font-family: 'poiret';
  font-size: 18px;
}

div > h3 {
  text-align: center;
  font-family: sans-serif;
  font: Helvetica;
  font-size: 20px;
}

.mid-container{
  display: flex;
  justify-content: center;
  font-family: serif;
  font: Arial;
  font-size: 18px;
}

.mid-container > div {
  margin: 20px;
}

#canvas {
  background-color: #f9f2ec;
  border: 1px solid black;
}

#country-form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#country-form > input {
  display: none;
}

#country-form > label {
  padding: 12px;
  margin: 6px;
  font-family: sans-serif;
  font: Helvetica;
  font-size: 18px;
  background-color: #f0f0f5;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #333333;
}

#country-form > input:hover+label{
  background-color: #ffd699;
}

#country-form > input:checked+label{
  background-color: #ffad33;
}
